[submodule "p1"]
	path = p1
	url = https://github.com/kjkhan/AIND-Sudoku
[submodule "p2"]
	path = p2
	url = https://github.com/kjkhan/AIND-Isolation
[submodule "p3"]
	path = p3
	url = https://github.com/kjkhan/AIND-Planning
[submodule "p4"]
	path = p4
	url = https://github.com/kjkhan/AIND-Recognizer
[submodule "p5"]
	path = p5
	url = https://github.com/kjkhan/dog-project
[submodule "p6"]
	path = p6
	url = https://github.com/kjkhan/aind2-rnn
[submodule "p7"]
	path = p7
	url = https://github.com/kjkhan/aind2-nlp-capstone
